.App {
  text-align: center;
}
body{
  margin: 0;
  padding: 0;
}
.header{
  border-bottom: 3px solid black;
  background-image: "url('/headerbackground.png')";
  height: 25vh;
}

#pagename{
  text-align: left;
  margin-left: 5vw;
}